CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Cache file.
.cache

# Build cache.
build

# Zon.Identifier files.
*:Zone.Identifier

# Test file.
test
